---
import Section from "../../components/Section.astro";
import CarruselImg from "../../components/CarruselImg.astro";
import type { TRepositorio } from "../../provider/projects";
import { allRepo } from "../../provider/projects";
import Heather from "@/components/Heather.astro";

export function getStaticPaths() {
  // return ([{params:{dataid:848326}}])

  return allRepo?.map((rep) => ({
    params: { repoID: rep.id },
  }));
}
const { repoID } = Astro.params;

const showData: TRepositorio = allRepo.find((info) => info.id == repoID)!;
---

<section class="bg-[#ff0fdd50] h-screen overflow-hidden">
  <section
    class="min-w-[920px] h-screen mx-auto h-s bg-white shadow-2xl fixed top-0 left-20 md:left-1/2 md:-translate-x-1/2"
  >
    <!-- //Todo -->
    <Heather title={"Information Projects"} path={"all-projects"} />

    <div
      class="overflow-hidden relative w-[800px] mt-10 bg-slate-50 mx-auto rounded-lg transition shadow-lg border-2 -translate-x-2 -translate-y-2 border-black pb-6"
    >
      <h3
        class="text-2xl mb-4 w-full text-gray-900 font-semibold text-center mt-6"
      >
        {showData.title}
      </h3>
      <div>
        <CarruselImg allImg={showData.img} />
      </div>
      <!-- details -->
      <div
        class="relative w-full bg-slate-50 p-4 sm:p-6 flex flex-col items-center gap-6"
      >
        <!-- <p class="block text-ms text-gray-500">{showData.title}</p> -->
        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
          {showData.about}
        </p>
        <div class="flex flex-col gap-2 w-full">
          {
            showData?.características?.map((tools, index) => (
              <span class="whitespace-nowrap rounded-full bg-steal-100 px-2.5 py-0.5 text-xs text-grey-600">
                {index + 1}-{tools}.
              </span>
            ))
          }
        </div>
        <div class="flex flex-row gap-2 w-full">
          {
            showData.code.map((tools) => (
              <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                {tools}
              </span>
            ))
          }
        </div>

        <div class="flex flex-row gap-2">
          <span
            class="whitespace-nowrap rounded-full bg-steal-100 px-2.5 py-0.5 text-xs text-grey-600 hover:underline"
          >
            {
              showData.pageLink != "" ? (
                <a target="_blank" href={showData.pageLink}>
                  Web page
                </a>
              ) : (
                <p>-</p>
              )
            }
          </span>
          <span
            class="whitespace-nowrap rounded-full bg-steal-100 px-2.5 py-0.5 text-xs text-grey-600 hover:underline"
          >
            <a target="_blank" href={showData.repoLink}>GitHub page</a>
          </span>
        </div>
      </div>
    </div>
  </section>
</section>
